<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../static/images/favicon.png" type="image/png">
    <title>Chat</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/chatc.css') }}">
</head>
<body>
    <div class="usuarios">
        <h2>Usuarios</h2>
        <ul class="numerousuarios">
            {% for usr in users %}
            <li>
                <strong class= "a">{{usr.username}}</strong>
                        <strong class= "b"> >>> </strong>
                        <strong class= "c">{{usr.rol}}</strong>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="espacio"></div>
    <div class="container">
        <h2>Usuario: {{username}}</h2>
        <form method="post">
            <div class="form-group">
                <label for="recipient">Destinatario mensaje:</label>
                <input type="text" id="recipient" name="recipient" required>
            </div>
            <div class="form-group">
                <label for="message">Mensaje:</label>
                <input type="text" id="message" name="message" required>
            </div>
            <button type="submit">Enviar</button>
        </form>
        <div class="links">
            <a href="/PapaNoel" class="botonesheader">Home</a>
            <a href="/login" class="botonesheader">Cambiar Usuario</a>
            {% for usr in users %}
                {% if username == usr.username and ('Admin' == usr.rol or 'Tecnico' == usr.rol)%}
                    <a href="#Usuario" class="botonesheader">Usuarios</a>
                {% endif %}
                {% if username == usr.username and 'Admin' == usr.rol %}
                    <a href="#cartas" class="botonesheader">Cartas</a>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="espacio"></div>
    <div class="container">
        <h2>Mensajes de {{username}}</h2>
        <ul class="messages">
            {% for msg in messages %}
                {% if msg.recipient == username or msg.sender == username %}
                    <li><strong class= "a">{{ msg.sender }}</strong>
                        <strong class= "b"> >>> </strong>
                        <strong class= "c">{{msg.recipient}}:</strong>
                        {{ msg.message }}</li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
</body>
</html>
