<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verificación</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/general2.css') }}">
</head>
<body>
    <div class="container">
        <h1>Verificacion Codigo</h1>
        <form method="post">
            <div class="form-group">
                <label for="codigo">Codigo:</label>
                <input type="password" id="codigo" name="codigo" required>
            </div>
            <button type="submit">Verificar Codigo</button>

        </form>
        <div class="links">
            <a href="/home" class="botonesheader">Home</a>
            <a href="/login" class="botonesheader">Cambio Usuario</a>
        </div>
    </div>
</body>
</html>